<?xml version="1.0" encoding="UTF-8"?>

<!--
  #%L
  Processiva Business Processes Platform
  %%
  Copyright (C) 2012 Cohesiva
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:property-placeholder
		ignore-unresolvable="true" location="/WEB-INF/basket.properties" />

	<bean id="basketVariables"
		class="com.cohesiva.processes.jbpm.serviceImpl.processes.basket.BasketVariables">
		<property name="basketSigningFinalHour" 
			value="${basketSigningFinalHour}" />
		<property name="basketInformAllSubscribersHour" 
			value="${basketInformAllSubscribersHour}" />
		<property name="basketMakePaymentsHour" 
			value="${basketMakePaymentsHour}" />
		<property name="basketStartHour" 
			value="${basketStartHour}" />
		<property name="basketMaxPlayersNumber"
			value="${maxPlayersNumber}" />
		<property name="basketSufficientPlayersNumber" 
			value="${sufficientPlayersNumber}" />
		<property name="carnetPrize"  value="${carnetPrize}" />
		<property name="eventCarnetPrize" 
			value="${eventCarnetPrize}" />
		<property name="eventNonCarnetPrize"
			value="${eventNonCarnetPrize}" />
	</bean>

</beans>
