<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Processiva Business Processes Platform
  %%
  Copyright (C) 2012 Cohesiva
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
    <context:property-placeholder
		ignore-unresolvable="true" location="/WEB-INF/basket.properties" />

	<!-- START METHODS LOCATIONS TRIGGERING EVENTS -->
	<bean id="runBasketWeekly"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="eventStarter" />
		<property name="targetMethod" value="startBasketWeeklyProcess" />
	</bean>

	<bean id="endBasketWeeklyEvent"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="eventStarter" />
		<property name="targetMethod" value="signal" />
		<property name="arguments">
			<array value-type="java.lang.String">
				<value>basket_weekly_end_event</value>
				<value>com.cohesiva.basket.weekly</value>
			</array>
		</property>
	</bean>
	
	<bean id="informAllEvent"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="eventStarter" />
		<property name="targetMethod" value="signal" />
		<property name="arguments">
			<array value-type="java.lang.String">
				<value>informAll</value>
				<value>com.cohesiva.basket.weekly</value>
			</array>
		</property>
	</bean>
	
	<bean id="chargePlayersEvent"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="eventStarter" />
		<property name="targetMethod" value="signal" />
		<property name="arguments">
			<array value-type="java.lang.String">
				<value>chargePlayers</value>
				<value>com.cohesiva.basket.weekly</value>
			</array>
		</property>
	</bean>
	<!-- END METHODS LOCATIONS TRIGGERING EVENTS -->

	<!-- START TIMERS DEFINITION -->
	<bean id="triggerBasketWeeklyProcess" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="runBasketWeekly" />
		<property name="cronExpression" value="0 28 ${basketStartHour} ? * 1" />
	</bean>

	<bean id="triggerBasekWeeklyEndEvent" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="endBasketWeeklyEvent" />
		<property name="cronExpression" value="00 32 ${basketSigningFinalHour} ? * 1" />
	</bean>
	
	<bean id="triggerInformAllEvent" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="informAllEvent" />
		<property name="cronExpression" value="00 29 ${basketInformAllSubscribersHour} ? * 1" />
	</bean>
	
	<bean id="triggerChargePlayersEvent" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="chargePlayersEvent" />
		<property name="cronExpression" value="00 34 ${basketMakePaymentsHour} ? * 1" />
	</bean>
	<!-- END TIMERS DEFINITION -->

	<!-- START LISTS OF EVENTS AND TIMERS -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="runBasketWeekly" />
				<ref bean="endBasketWeeklyEvent" />
				<ref bean="informAllEvent" />
				<ref bean="chargePlayersEvent" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="triggerBasketWeeklyProcess" />
				<ref bean="triggerBasekWeeklyEndEvent" />
				<ref bean="triggerInformAllEvent" />
				<ref bean="triggerChargePlayersEvent" />
			</list>
		</property>
	</bean>
	<!-- END LISTS OF EVENTS AND TIMERS -->

</beans>